.hashtags small{
	margin: 0 5px 0 5px;
}

.userImage {
	width: 80px;
}

.well {
	margin:2px;
	background-color: white !important;
	background-image: none;
	box-shadow: none;
	border:0px;
	border-top: 1px solid gray;
}